
<br>
<div class="tekstike2b">
<div class="tekstike">
Tutvumine Angulariga - Äpi tegemine
</div>
</div>

<br>

<div class="tekstike2b">
  <div class="tekstike2">
  Siin on kirjas juhtnöörid, mida teha. Menüüst tuleb valida ülesanne, soovitavalt ülesannete järjekorras. Avaneb ülesande lehekülg, kus on kirjas, mida on vaja teha. Kuna tegemist on sissejuhatusega informaatikasse, siis on ülesanded lihtsad ja täpsete juhtnööridega - vaja vaid lugeda ja järgi teha. Eesmärk ei ole kontrollida informaatika oskuseid, eesmärk on anda võimalus proovida, kuidas Angular töötab ja milline on üks (üha populaarsemaks muutuv viis) omaenda äpi tegemiseks.
  </div>
</div>
<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Kõigepeal tuleks minna ja otsida üles fail "app.component.html" (vaskul ääres paiknevast failimenüüst). Siis seal failis tuleks asendada sõna "Nimi" oma nimega - midagi muud ei peaks puutuma. Oluline on salvestada, nupp vasakul üleval.
  </div>
</div>
<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Kui ülaltoodu tehtud, siis tuleks menüüs vajutada nuppu "Ülesanne 1" ja suunduda esimese ülesande juurde.
  </div>
</div>

<!---div class="tekstike2 tekstike2a">
  Siin on kirjas juhtnöörid, mida teha. Menüüst tuleb valida ülesanne, soovitavalt ülesannete järjekorras. Avaneb ülesande lehekülg, kus on kirjas, mida on vaja teha. Kuna tegemist on sissejuhatusega informaatikasse, siis on ülesanded lihtsad ja täpsete juhtnööridega - vaja vaid lugeda ja järgi teha. Eesmärk ei ole kontrollida informaatika oskuseid, eesmärk on anda võimalus proovida, kuidas Angular töötab ja milline on üks (üha populaarsemaks muutuv viis) omaenda äpi tegemiseks.
</div-->

<br>
<br>

<!--div class="tekstike3">
  Siin on kirjas juhtnöörid, mida teha. Menüüst tuleb valida ülesanne, soovitavalt ülesannete järjekorras. Avaneb ülesande lehekülg, kus on kirjas, mida on vaja teha. Kuna tegemist on sissejuhatusega informaatikasse, siis on ülesanded lihtsad ja täpsete juhtnööridega - vaja vaid lugeda ja järgi teha. Eesmärk ei ole kontrollida informaatika oskuseid, eesmärk on anda võimalus proovida, kuidas Angular töötab.
</div-->

<!--div class="container">
  Siin on kirjas juhtnöörid, mida teha. Menüüst tuleb valida ülesanne, soovitavalt ülesannete järjekorras. Avaneb ülesande lehekülg, kus on kirjas, mida on vaja teha. Kuna tegemist on sissejuhatusega informaatikasse, siis on ülesanded lihtsad ja täpsete juhtnööridega - vaja vaid lugeda ja järgi teha. Eesmärk ei ole kontrollida informaatika oskuseid, eesmärk on anda võimalus proovida, kuidas Angular töötab.
</div-->

<br>
<br>

<!--p>Siin on kirjas juhtnöörid, mida teha. Menüüst tuleb valida ülesanne, soovitavalt ülesannete järjekorras. Avaneb ülesande lehekülg, kus on kirjas, mida on vaja teha. Kuna tegemist on sissejuhatusega informaatikasse, siis on ülesanded lihtsad ja täpsete juhtnööridega - vaja vaid lugeda ja järgi teha. Eesmärk ei ole kontrollida informaatika oskuseid, eesmärk on anda võimalus proovida, kuidas Angular töötab.</p-->

<!---div class="containers">
  <h1>Lighter, Secondary Text</h1>
  <p>The small element is used to create a lighter, secondary text in any heading:</p>       
  <h1>h1 heading <small>secondary text</small></h1>
  <h2>h2 heading <small>secondary text</small></h2>
  <h3>h3 heading <small>secondary text</small></h3>
  <h4>h4 heading <small>secondary text</small></h4>
  <h5>h5 heading <small>secondary text</small></h5>
  <h6>h6 heading <small>secondary text</small></h6>
  <p><br></p>
  <button class="btn btn-success" (click)="kk()">Login Here</button>
</div-->